nav
{
   
    box-shadow: 2px 2px 10px rgba(253, 82, 82, 0.15);
    
}
.Second
{
    box-shadow: 2px 2px 10px rgba(253, 82, 82, 0.15);
    
}
.TextContainer
{
    box-shadow: 2px 2px 10px rgba(253, 82, 82, 0.15);
    
}
.WhyContainer
{
    box-shadow: 2px 2px 10px rgba(253, 82, 82, 0.15);
    
}
.four
{
    box-shadow: 2px 2px 10px rgba(253, 82, 82, 0.15);
    
}